<div id="logo-area">
    <div id="logo"><a href="{{ url_for('main.index') }}"><img src="{{ url_for('static', filename='images/logo-cat00.png') }}" alt="Avatar" id="logo-img"></a></div>
</div>
<button id="menu-toggle" aria-label="Toggle navigation">☰</button>
<div id="navi">
    <ul>
        <li><a href="{{ url_for('main.chat') }}">영어대화</a></li>
        <li><a href="{{ url_for('main.aitest') }}">평가해보기</a></li>
        <li><a href="{{ url_for('main.myreport') }}">학습현황</a></li>
    </ul>
</div>
<div id="login">
    <ul>
        {% if session.logged_in %}
            <li><a href="{{ url_for('main.mypage') }}">마이페이지</a></li>
            <li><a href="{{ url_for('main.logout') }}">로그아웃</a></li>
        {% else %}
            <li><a href="{{ url_for('main.login') }}">로그인</a></li>
            <li><a href="{{ url_for('main.join') }}">회원가입</a></li>
        {% endif %}
    </ul>
</div>