<!-- header.html -->
<div id="logo-area">
    <img src="{{ url_for('static', filename='images/net.png') }}" alt="Avatar" id="logo-img">
    <div id="logo"><a href="{{ url_for('main.index') }}">Ai영어친구</a></div>
</div>
<button id="menu-toggle" aria-label="Toggle navigation">☰</button>
<div id="navi">
    <ul>
        <li><a href="{{ url_for('main.chat') }}">영어대화</a></li>
        <li><a href="{{ url_for('main.aitest') }}">평가해보기</a></li>
        <li><a href="{{ url_for('main.myreport') }}">학습현황</a></li>
    </ul>
</div>
<div id="login">
    <ul>
        <li>마이페이지</li>
        <li>로그인</li>
        <li>가입</li>
    </ul>
</div>
