/* base.css */

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

a {
    text-decoration: none; /* 기본 스타일 제거 */
    color: inherit; /* 부모 요소의 색상을 상속 */
}

header {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

#logo-area {
    width: 200px;
    justify-items: left;
}

#logo-img {
    width: 80px;
    display: none; /* 900px 이하일 때 숨기기 */
}

#logo {
    font-size: 24px;
    font-weight: bold;
}

#navi ul, #login ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

#navi ul li, #login ul li {
    margin: 0 10px;
}

#menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

#content {
    display: flex;
    flex: 1;
    overflow: hidden;
}

@media (max-width: 900px) {
    #navi, #login {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #f8f9fa;
        width: 100%;
        text-align: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    #menu-toggle {
        display: block;
    }

    #navi.active, #login.active {
        display: flex !important;
    }

    header {
        flex: 1;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        background-color: transparent; /* 배경 투명 설정 */
        position: fixed; /* 고정 위치로 설정 */
        width: 100%; /* 전체 너비 설정 */
        z-index: 10; /* z-index를 높여 본문 위에 오도록 설정 */
    }

    #logo-img {
        width: 50px;
        display: flex;
    }

    #logo {
        display: none; /* 900px 이하일 때 숨기기 */
    }

    #content {
        margin-top: 0px; /* 헤더 높이만큼 본문 아래로 내림 */
    }
}