/* chat.css */
#avata {
    flex: 1;
    padding-top: 150px;
    background-color: #e9ecef;
    padding: 20px;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

#avatar-container {
    position: relative;
    text-align: center;
}

#avatar-img {
    width: 60%;
    max-width: 600px; /* 원하는 최대 크기로 설정 */
    min-width: 400px; /* 원하는 최대 크기로 설정 */
    border-radius: 50%;
    margin: 20px auto;
    margin-top: 80px;
}

#level-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

#level, #level-no {
    margin: 0 10px;
    text-align: center;
}

#level {
    font-weight: bold;
}

#avata {
    width: 20%; /* 왼쪽 영역의 너비 */
    background-color: #cccccc; /* 배경 색상 */
    padding: 10px;
    box-sizing: border-box;
}

#chat-area {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 190px); /* 헤더 높이 제외 */
    width: 500px; /* 전체 너비 */
}

h2 {
    margin: 0;
    padding: 10px;
    padding-left: 20px;
    color: darkgray;
    flex: 0 0 auto; /* 크기 고정 */
}

#input-box {
    flex: 0 0 50px; /* 입력 박스 높이 고정 */
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#chatting-window {
    flex-grow: 1; /* 남은 공간 모두 차지 */
    background-color: #e9ecef;
    overflow-y: auto; /* 세로 스크롤 가능 */
    padding: 20px; /* 패딩 추가 */
    border: 1px solid #ddd; /* 테두리 설정 */
    flex-direction: column-reverse;
    height: calc(100vh - 300px);
    max-width: 100%; /* 부모 요소의 크기를 넘지 않도록 설정 */
}

#user-input {
    flex-grow: 1; /* 입력 필드가 가능한 많은 공간 차지 */
    width: 80%;
    padding: 8px;
}

#input-button {
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}

#role-user, #role-assistant {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

#role-user {
    background-color: burlywood;
}

#role-assistant {
    background-color: cornflowerblue;
}

#content-user, #content-assistant {
    max-width: 70%; /* 최대 너비 설정 */
    padding: 10px;
    border-radius: 5px;
    word-wrap: break-word; /* 텍스트 줄바꿈 */
}

#content-user {
    background-color: rgba(145, 171, 255, 0.5);
    text-align: left;
}

#content-assistant {
    background-color: rgba(255, 175, 110, 0.5);
    text-align: left;
}

.user-role {
    display: flex;
    justify-content: flex-end; /* 오른쪽 정렬 */
    align-items: center;
}

.assistant-role {
    display: flex;
    justify-content: flex-start; /* 왼쪽 정렬 */
    align-items: center;
}

.chat-message {
    display: flex;
    margin-bottom: 10px;
}

#chatting {
    flex: 1;
    padding: 20px;
    display: none;
    height:100%;
    flex-direction: column-reverse;
    max-width: 100%; /* 부모 요소의 크기를 넘지 않도록 설정 */
}

#text-window {
    position: fixed;
    width: 20px;
    height: 20px;
    left: 0;
    top: 300px;
    transform: translateY(-50%);
    padding: 10px 10px;
    margin-left: 10px;
    background-color: #95b1ff;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    line-height: 20px;
    z-index: 990;
}

#voiceset {
    position: fixed;
    width: 20px;
    height: 20px;
    left: 0;
    top: 350px;
    transform: translateY(-50%);
    padding: 10px 10px;
    margin-left: 10px;
    background-color: #ffc400;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    line-height: 20px;
    z-index: 990;
}

#listen {
    position: fixed;
    width: 20px;
    height: 20px;
    left: 0;
    top: 400px;
    transform: translateY(-50%);
    padding: 10px 10px;
    margin-left: 10px;
    background-color: #bebebe;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    line-height: 20px;
    z-index: 990;
}

#mic {
    position: fixed;
    width: 20px;
    height: 20px;
    left: 0;
    top: 450px;
    transform: translateY(-50%);
    padding: 10px 10px;
    margin-left: 10px;
    background-color: #ffd6a1;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    line-height: 20px;
    z-index: 990;
}

#mic-img {
    width: 25px;
    height: 25px;
}

@media (max-width: 900px) {
    #avata {
        padding-top: 60px;
    }
    #chatting {
        flex: 1;
        padding: 20px;
        margin-left: 100px;
        overflow-y: auto;
        overflow-x: hidden; /* 가로 스크롤 숨기기 */
        display: flex;
        height: calc(100vh - 300px);
        flex-direction: column-reverse;
        max-width: 100%; /* 부모 요소의 크기를 넘지 않도록 설정 */
    }

    #chatting-window {
        display: none;
        background-color: rgba(255, 255, 255, 0.3);
        max-width: 100%; /* 부모 요소의 크기를 넘지 않도록 설정 */
    }

    #chat-area {
        position: absolute;
        top: 120px; /* Header height */
        display: flex;
        flex-direction: column;
        height: calc(100vh - 150px);
        width: 100%;
        flex-direction: column;
        overflow-y: auto;
    }

    #avatar-img {
        width: 60%;
        max-width: 500px; /* 원하는 최대 크기로 설정 */
        min-width: 300px; /* 원하는 최대 크기로 설정 */
    }
}
