#mypage-container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

#title_sub {
    width: 100%;

}

span {
    height: 20px;
    margin-bottom: 15px;
}

button {
    width: 80px;
    height: 50p;
    border: 0;
    padding: 5px;
    border-radius: 5px;
    background-color: green;
    color: white;
    margin: 10px 10px 10px 0;
}


.mypage {
    display: flex;
    flex-direction: row;
    padding: 15px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
    gap: 20px; /* 요소 사이에 20px 간격 */
    justify-content: space-between;
}

.myreport-info {
    display: flex;
    flex-direction: row;
    padding: 15px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
    gap: 20px; /* 요소 사이에 20px 간격 */
    justify-content: space-between;
}

.user-info, .user-character {
    width: 48%;
    float: left;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    border: 1px solid lightgray;
    padding: 20px;
}

.user-character {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}

#mycharacter {
    height: 300px;
    min-width: 300px;
}

.chart-container, .table-container {
    width: 48%;
    float: left;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    border: 1px solid lightgray;
    padding: 20px;
}

.chart-container {
    position: relative; /* Relative position for absolute child */
    height: 300px; /* Ensures there's a height for the chart container */
}

#dailyChart {
    width: 100%;
    height: 100%;
}

#vocalScore {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #333;
    z-index: 10; /* Ensures it's above the canvas */
}

.container {
    clear: both;
    margin: 20px 0;
}

#dailyTable, #weeklyTable, #userTable {
    width: 100%;
    border-collapse: collapse;
}

#dailyTable th, #dailyTable td, #weeklyTable th, #weeklyTable td, #userTable th, #userTable td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ddd;
}

#userTable th {
    background-color: #f4f4f4;
}

@media (max-width: 768px) {
    .mypage {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mypage-info, .user-info, .user-character, .chart-container {
        flex-direction: column;
        width: 90%;
        justify-content: center;
        text-align: center;
    }

    .user-character {
        align-items: center;
    }
}