#avata {
    flex: 1;
    padding-top: 150px;
    background-color: #e9ecef;
    padding: 20px;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow-y: auto; /* Enable vertical scrolling */
}

.report-id {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 300px;
    margin-bottom: 20px;
    border-top: 2px solid #007bff; /* Add a top border to separate sections */
    padding-top: 10px;
    gap: 20px; /* Add space between user-info and myavata */
}

#myreport-div {
    display: flex;
    width: 48%;
    height: 40px;
    padding-left: 20px;
}

#user-info, #myavata {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
}

#user-info {
    border-right: 2px solid #ccc; /* Add a right border to separate user info */
}

#myavata-character {
    margin-top: 20px;
}

#avata-img {
    height: 250px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px; /* Space between chart and table containers */
}

.chart-container {
    position: relative;
    width: 48%; /* Take up half the width */
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-container {
    width: 48%; /* Take up half the width */
    margin-top: 0;
    background-color: white;
}

.user-profile td:first-child {
    width: 30%; /* 3:7 비율의 첫 번째 td */
}

.user-profile td:nth-child(2) {
    width: 70%; /* 3:7 비율의 두 번째 td */
}

#userTable {
    width: 90%;
    height: 100%;
    background-color: beige;
    margin: 20px
}

#tableTitle {
    display: flex;
    margin: 20px;
    text-align: center;
    width: 90%;
    height: 30px;
    background-color: blanchedalmond;
    justify-content: center;
}

#dailyTable {
    width: 90%;
    height: 100%;
    background-color: beige;
    margin: 20px
}

#weeklyTable {
    width: 90%;
    height: 100%;
    background-color: beige;
    margin: 20px
}

@media (max-width: 768px) {
    .report-id {
        flex-direction: column;
        height: auto;
        gap: 10px; /* Reduce gap in vertical mode */
        border-top: none;
        border-bottom: 2px solid #007bff; /* Move the separator line to the bottom */
    }
    #user-info {
        border-right: none;
        border-bottom: 2px solid #ccc; /* Add bottom border in vertical mode */
    }

    #user-info, #myavata {
        width: 100%;
        height: auto;
    }

    .container {
        flex-direction: column;
    }

    .chart-container, .table-container {
        width: 100%;
    }

    .chart-container {
        height: 300px; /* Adjust height for smaller screens */
    }
}