<!-- chat.html 채팅화면 -->
{% extends "base.html" %}

{% block title %}Ai 영어친구{% endblock %}

{% block head %}
<link href="{{ url_for('static', filename='css/aitest.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/popup.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/listen.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div id="voiceset">S</div>
<div id="text-window">M</div>
<div id="listen" onclick="openSettings()">L</div>
<div id="mic" onclick="toggleRecognition()" 
     data-mic-on="{{ url_for('static', filename='images/mic-on.png') }}"
     data-mic-off="{{ url_for('static', filename='images/mic-off.png') }}">
    <img src="{{ url_for('static', filename='images/mic-on.png') }}" alt="mic" id="mic-img">
</div>  
<div id="avata">
    <div id="avatar-container">
        <div id="level-box">
            <div id="level">Level:</div>
            <div id="level-no">bronze5</div>
        </div>
        <img src="{{ url_for('static', filename='images/boy1.png') }}" alt="Avatar" id="avatar-img">
    </div>
</div>

<div id="chat-area" style="display: block;"> <!-- 기본값 노출 -->
    <h2>에이아이 평가평가평가</h2>
    <div id="chatting">
        <div class="chat-message user-role">
            <pre class="content-user">{{ user_text }}</pre>
        </div>
        <div class="chat-message assistant-role">
            <pre class="content-assistant">{{ assistant_text }}</pre>
        </div>
    </div>
    <div id="chatting-window">
        <!-- 대화 내용 누적될 영역 -->
    </div>
    <div id="input-box">
        <form id="chat-form" style="display: flex; width: 100%;">
            <label for="user-input" style="flex-grow: 1;"></label>
            <input type="text" id="user-input" name="user-input" style="flex-grow: 1;" placeholder="평가를 위한 300자 이내의 영문으로 대화해 주세요.">
            <input type="submit" value="입력" id="input-button">
        </form>
    </div>
</div>
{% include 'listen.html' %}

{% include 'popup.html' %}
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/aitest.js') }}"></script>
<script src="{{ url_for('static', filename='js/popup-voice.js') }}"></script>
<script src="{{ url_for('static', filename='js/listen.js')}}"></script>
{% endblock %}
