<!-- mypage.html 화면 -->
{% extends "base.html" %}

{% block title %}Ai 영어친구 - 캐릭터 목록 페이지{% endblock %}

{% block head %}
<link href="{{ url_for('static', filename='css/manager.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
{% if current_user.is_authenticated %}
<div id="mypage-container" style="overflow-y: auto;">
    <div id="title_sub"><h2>|| 캐릭터 리스트</h2></div>
    <div class="mypage">
        <div class="user-info" style="width: 25%">
            <h2>Preview</h2>
            <img src="{{ url_for('static', filename='images/characters/starter/ch00_1.gif') }}" id="mycharacter" alt="캐릭터 이미지">
            <h3>현재 레벨: MANAGER</h3>
        </div>
        <div class="user-character" style="width: 75%">
            <table id="userTable">
                <tr>
                    <th>No</th>
                    <th>이름</th>
                    <th>등록일</th>
                    <th>최종 업데이트</th>
                    <th>상세보기</th>
                </tr>
                {% for i in characters %}
                    <tr>
                        <td>{{ i.row_number }}</td>
                        <td>{{ i.type }}</td>
                        <td>{{ i.first_registered }}</td>
                        <td>{{ i.last_update }}</td>
                        <td><button onclick="location.href='{{ url_for('main.character_list') }}'">바로가기</button></td>
                    </tr>
                {% endfor %}
            </table>
        </div>  
    </div>
    
</div>
{% else %}
<p>Please log in to view this page.</p>
{% endif %}

{% endblock %}