<!-- chat.html 채팅화면 -->
{% extends "base.html" %}

{% block title %}Ai 영어친구{% endblock %}

{% block head %}
<link href="{{ url_for('static', filename='css/chat.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/popup.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div id="voiceset">음성설정</div>
<div id="text-window">문자채팅</div>
<div id="avata">
    <div id="avatar-container">
        <div id="level-box">
            <div id="level">Level:</div>
            <div id="level-no">bronze5</div>
        </div>
        <img src="{{ url_for('static', filename='images/girlsf2-re.png') }}" alt="Avatar" id="avatar-img">
    </div>
</div>

<div id="chat-area" style="display: block;"> <!-- 기본값 노출 -->
    <h2>Ai영어대화</h2>
    <div id="chatting">
        <div class="chat-message user-role">
            <pre class="content-user">{{ user_text }}</pre>
        </div>
        <div class="chat-message assistant-role">
            <pre class="content-assistant">{{ assistant_text }}</pre>
        </div>
    </div>
    <div id="chatting-window">
        <!-- 대화 내용 누적될 영역 -->
    </div>
    <div id="input-box">
        <form id="chat-form" style="display: flex; width: 100%;">
            <label for="user-input" style="flex-grow: 1;">입력:</label>
            <input type="text" id="user-input" name="user-input" style="flex-grow: 1;" placeholder="Ask questions to curious teenagers in English.">
            <input type="submit" value="입력" id="input-button">
        </form>
    </div>
</div>

{% include 'popup.html' %}
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/chat.js') }}"></script>
<script src="{{ url_for('static', filename='js/popup-voice.js') }}"></script>
{% endblock %}
