<!-- mypage.html 화면 -->
{% extends "base.html" %}

{% block title %}Ai 영어친구 - 관리자 페이지{% endblock %}

{% block head %}
<link href="{{ url_for('static', filename='css/manager.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
{% if current_user.is_authenticated %}
<div id="mypage-container" style="overflow-y: auto;">
    <div id="title_sub"><h2>|| {{ user.nickName | default('Unknown User') }}의 관리자정보</h2></div>
    <div class="mypage">
        <div class="user-info">
            <h2>User Information</h2>
            <table id="userTable">
                <tr>
                    <td>아이디</td>
                    <td>{{ user.id | default('No ID') }}</td>
                </tr>
                <tr>
                    <td>닉네임</td>
                    <td>{{ user.nickName | default('No Nickname') }}</td>
                </tr>
                <tr>
                    <td>출생년도</td>
                    <td>{{ user.birth_date.year | default('No Birthdate') }}</td>
                </tr>
                <tr>
                    <td>사용자 분류</td>
                    <td>{{ user.role | default('No Role') }}</td>
                </tr>
            </table>
            <button onclick="if(confirm('정말로 탈퇴하시겠습니까?')) location.href='{{ url_for('main.delete_user') }}'">탈퇴</button>
        </div>
        <div class="user-character">
            <h3>현재 레벨: MANAGER</h3>
            <img src="{{ url_for('static', filename='images/characters/starter/ch00_1.gif') }}" id="mycharacter" alt="캐릭터 이미지">
        </div>
    </div>
    <div id="title_sub"><h2>|| {{ user.nickName | default('Unknown User') }}의 관리그룹 사용자 리스트</h2></div>
    <div class="mypage">
        <table id="userTable">
            <tr>
                <th>아이디</th>
                <th>닉네임</th>
                <th>출생년도</th>
                <th>성별</th>
                <th>사용자 분류</th>
                <th>학습현황</th>
                <th>사용자 삭제</th>
            </tr>
            {% for s in students %}
            <tr>
                <td>{{ s.id }}</td>
                <td>{{ s.nickName }}</td>
                <td>{{ s.birth_date.year }}</td>
                <td>{{ s.gender }}</td>
                <td>{{ s.role }}</td>
                <td><button onclick="location.href='{{ url_for('main.myreport_by_id', id=s.id) }}'">바로가기</button></td>
                <td><button onclick="return confirmDeletion('{{ url_for('main.delete_user_by_id', id=s.id) }}')">삭제</button></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    
</div>
{% else %}
<p>Please log in to view this page.</p>
{% endif %}

{% endblock %}

{% block scripts %}
    <script>
        function confirmDeletion(url){
            if (confirm('정말로 삭제하시겠습니까?')){
                window.location.href = url;
            }
            return false; // 버튼 클릭 시 기본 동작(페이지 이동)을 방지
        }
    </script>
<!-- <script src="{{ url_for('static', filename='js/mypage.js') }}"></script> -->
{% endblock %}
