<!-- mypage.html 화면 -->
{% extends "base.html" %}

{% block title %}Ai 영어친구 - 나의 가입정보{% endblock %}

{% block head %}
<link href="{{ url_for('static', filename='css/mypage.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
{% if current_user.is_authenticated %}
<div id="mypage-container" style="overflow-y: auto;">
    <div id="title_sub"><h2>|| {{ user.nickName | default('Unknown User') }}의 사용자정보</h2></div>
    <div class="mypage">
        <div class="user-info">
            <h2>User Information</h2>
            <table id="userTable">
                <tr>
                    <td>아이디</td>
                    <td>{{ user.id | default('No ID') }}</td>
                </tr>
                <tr>
                    <td>닉네임</td>
                    <td>{{ user.nickName | default('No Nickname') }}</td>
                </tr>
                <tr>
                    <td>출생년도</td>
                    <td>{{ user.birth_date.year | default('No Birthdate') }}</td>
                </tr>
                <tr>
                    <td>사용자 분류</td>
                    <td>{{ user.role | default('No Role') }}</td>
                </tr>
            </table>
            <table>
                <tr>
                    <td>
                        <button onclick="location.href='{{ url_for('main.update_user') }}'">정보변경</button>
                        <button onclick="if(confirm('정말로 탈퇴하시겠습니까?')) location.href='{{ url_for('main.delete_user') }}'">탈퇴</button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="user-character">
            <h3>현재 레벨: STARTER</h3>
            <img src="{{ url_for('static', filename='images/characters/starter/ch00_1.gif') }}" id="mycharacter" alt="캐릭터 이미지">
        </div>
    </div>
    
</div>
{% else %}
<p>Please log in to view this page.</p>
{% endif %}

{% endblock %}

{% block scripts %}
<!-- <script src="{{ url_for('static', filename='js/mypage.js') }}"></script> -->
{% endblock %}

