<!-- chat.html 채팅화면 -->
{% extends "base.html" %}

{% block title %}Ai 영어친구{% endblock %}

{% block head %}
<link href="{{ url_for('static', filename='css/myreport.css') }}" rel="stylesheet">

{% endblock %}

{% block content %}

<div id="avata">
    <div id="avatar-container">
        <div id="level-box">
            <br>
            <br>
            학습현황 DashBoard
            <br>
            <br>
        </div>
       개인 평가 현황 + <br><br>
       일별/월표 평가 차트와 그래프
    </div>
</div>

{% endblock %}

{% block scripts %}

{% endblock %}
