 <!-- join.html  -->
{% extends "base.html" %}

{% block title %}Ai 영어친구 - 회원가입{% endblock %}

{% block head %}
<link href="{{ url_for('static', filename='css/common.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div id="content-area">
    <form id="join-form" method="POST" action="{{ url_for('auth.join') }}">
        {{ form.hidden_tag() }}
        <h2>회원가입</h2>
        <div class="form-group">
            {{ form.userid.label(class="form-label") }}
            {{ form.userid(class="form-input") }}
            <button type="button" id="check-id-button">중복 확인</button>
        </div>
        <div class="form-group">
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-input") }}
        </div>
        <div class="form-group">
            {{ form.confirm_password.label(class="form-label") }}
            {{ form.confirm_password(class="form-input") }}
        </div>
        <div class="form-group">
            {{ form.nickName.label(class="form-label") }}
            {{ form.nickName(class="form-input") }}
        </div>
        <div class="form-group">
            {{ form.birth_date.label(class="form-label") }}
            {{ form.birth_date(class="form-input") }}
        </div>
        <div class="form-group">
            {{ form.gender.label(class="form-label") }}
            {{ form.gender(class="form-input") }}
        </div>
        <button type="submit" class="form-button">회원가입</button>
    </form>
</div>
{% endblock %}
